**/target/**
release.properties
**/pom.xml.releaseBackup
**/*.settings
**/.project
.gradle
build/
build.properties
.buildid
**/*.swp
/bin/
**/*.pyc
.classpath
gradle-app.setting
**/*.orig
**/*.swo
**/*.swn
