Source: upsilon-node
Maintainer: Nobody <nobody@upsilon-project.co.uk>
Section: misc
Priority: optional

Package: upsilon-node
Section: misc
Priority: optional
Architecture: all
Description: A distributed, flexible and extensible system monitoring application.
 A distributed, flexible and extensible system monitoring application. 
